.body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  padding: 20px;
  background-color: white;
}
.logo h1 {
  text-align: left;
  font-weight: 500;
  color: lightskyblue;
}

nav {
  list-style-type: none;
  text-decoration: none;
  gap: 2px;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  gap: 20px;
}
.hero-intro {
  border:
    solid,
    2px lightblue;
  border-radius: 6px;
  padding: 20px;
}

.hero-image {
  border: solid orange 2px;
  border-radius: 6px;
  padding: 20px;
}

.footer {
  text-align: center;
  font-weight: 500;
  background-color: lightskyblue;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 50px;
}
